New folder/flows.json
[{"id":"de7efb8d.e5d4c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"adae910d.826ca","type":"telegram sender","z":"de7efb8d.e5d4c8","name":"","bot":"df43991e.65e3f8","x":990,"y":400,"wires":[[]]},{"id":"dfb570e4.16535","type":"function","z":"de7efb8d.e5d4c8","name":"Text_to_telegram","func":"msg.payload = {\n    chatId: msg.chatId,\n    type: \"message\",\n    content: msg.payload.output.generic[0].text,\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":400,"wires":[["adae910d.826ca"]]},{"id":"c74e58a4.dfe198","type":"watson-assistant-v2","z":"de7efb8d.e5d4c8","name":" Scrum_Latam_bot_I","service-endpoint":"","assistant_id":"37b6ad5f-b4df-4aba-8c7e-df827fb57cf3","debug":true,"restart":false,"return_context":true,"alternate_intents":true,"multisession":false,"timeout":"6000000","optout-learning":true,"x":500,"y":280,"wires":[["dfb570e4.16535"]]},{"id":"25ce5f14.510a6","type":"function","z":"de7efb8d.e5d4c8","name":"Telegram_to_Watson","func":"msg.chatId = msg.payload.chatId;\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":280,"wires":[["c74e58a4.dfe198"]]},{"id":"4c810260.39f38c","type":"telegram receiver","z":"de7efb8d.e5d4c8","name":"Scrum_Latam_bot","bot":"df43991e.65e3f8","saveDataDir":"","filterCommands":false,"x":130,"y":160,"wires":[["25ce5f14.510a6"],[]]},{"id":"4a70a8f8.d21108","type":"inject","z":"de7efb8d.e5d4c8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"17Sep","payloadType":"str","x":990,"y":140,"wires":[[]]},{"id":"df43991e.65e3f8","type":"telegram bot","z":"","botname":"Scrum_Latam_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]